/*Typsnitt, färg och marginaler */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

/* Styling menyn */
header {
  background-color: #1a1a1a;
  padding: 1rem 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


input {
  width: 90%;         
  padding: 12px 15px;  
  margin: 20px 0;      
  border: 1px solid #ccc;
  border-radius: 4px;   
  font-size: 16px;      
  box-sizing: border-box; 
}

table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  border-collapse: collapse;
} 



th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd; /* En tunn linje mellan varje rad */

}

  h1 {
    text-align: center;
  }

th {
  background-color: #f4f4f4; 
  color: #333;
}

tr:nth-child(even) {
  background-color: #fafafa; /* Varannan rad blir svagt grå */
}

tr:hover {
  background-color: #f0f0f0; 
}



main {
  padding: 40px 0;
}

/*FÖR MOBIL:*/
@media (max-width: 768px) {


  /* Dölj rubrikraden på mobil */
  thead {
    display: none;
  }

  /* Gör varje rad till ett block */
  tr {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 10px;
  }

  /* Gör varje cell till en rad i blocket */
  td {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }

  /* Använd data-label för att sätta etiketten före värdet */
  td::before {
    content: attr(data-label);
    font-weight: bold;
  }
}